/* GENERAL */
ul,
ol {
    list-style: none;
}

li a:not(.link-underline-light) {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

input {
    border-radius: 10px;
    border: 0;
}

header {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}


/* LAYOUT */
form>.container {
    max-width: 400px;
}

.row {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}


/* MAIN */
.ticket .container {
    background-image: url(../img/bg-ticket.avif);
}

.col-3 .card {
    box-shadow: none;
    border: none;
}

.qr-code {
    width: 200px;
    height: 200px;
}